[submodule "external/circt"]
	path = external/circt
	url = https://github.com/llvm/circt.git
[submodule "external/RepCut-Partitioner"]
	path = external/RepCut-Partitioner
	url = git@github.com:ucsc-vama/RepCut-Partitioner.git
[submodule "external/mt-kahypar"]
	path = external/mt-kahypar
	url = https://github.com/kahypar/mt-kahypar.git
